*{

    box-sizing: border-box;
    padding:0;
    margin:0;
}
a {
    color: #0f548a;
    text-decoration: none;
    font-size: 13px;
    cursor:pointer
}

a:hover{
    color:#1891f0;
}

body{
        /* padding:20px; */
        background-color: #f0f4f7;
        font-size:13px;
        box-sizing: border-box;
        
    }

.box{
        padding: 12px 12px 4px 12px;
        border: 1px solid #a3bac9;
        border-radius:3px;
        background:white;
}

.box.login{
    width:450px;
    margin: 0 auto;
}

.box.login .header{
    text-align:center;
}

.header{
        padding-top:4px;
        padding-bottom:16px;
        padding: 4px 4px 16px 4px;
        border-bottom: 1px solid #dae2e8;
    }
.phui-header{
        font-size:24px;
        line-height: 24px;
        color: #003965;
}
   
.dashboard-panel{
        padding:20px;
}

.input-item label{
        margin-right:10px;
        width:100px;
        display: inline-block;
        font-size:14px;
        line-height: 1.5;
}

.input-item{
        display: flex;
        align-items: center;
        margin-bottom:14px;
}

.button,button{
        font-weight: bold;
        color:#ffffff;
        background: #003965;
        padding: 5px 3px !important;
        font-size: 1rem;
        text-shadow: none;
        line-height: 1.2;
        display: inline-block;
        margin: 0 10px 0 0;
        border-radius: 4px;
        border: 3px solid transparent;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none !important;
        text-align: center;
    }
    
    .login-register{
        /* padding-top:20px; */
        display: flex!important;
        height: 100vh!important;
        align-items: center!important;
    }

    input[type="text"],input[type="password"],select,textarea{
        padding:0.9em;
        font-size:14px;
        width:100%;
        max-width: 425px;
    }
    #content{
            display: flex;
            align-items: flex-start;
            padding-top:30px;
            width: 900px;
            margin: 0 auto;
        }

        .left{
            margin-right:20px;
            min-width:600px;
        }
        .entri-title, .entri-title a{
            font-size:20px;
            line-height: 1.5;
        }

        .info{
            font-size: 0.9em;
            color: #a69c9c;
            font-weight: 300;
        }

        .info span{
            display: block;
            /* margin-bottom:3px; */
        }

        .entri{
            padding: 10px 0;
        }

        .tags{
            line-height: 2;
        }

        .box-sidebar{
            width: 170px;
        }

        .box{
            margin-bottom: 10px;;
        }

        navbar{
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            box-sizing: border-box;
            background: #003965;
            width: 100%;
            margin:0;
            color: white;
        }

        navbar a{
            color:white;
        }

        navbar .logo a{
            font-size:32px;
        }

        navbar li{
            display: inline-block;
            list-style: none;
            padding: 0 10px;
            box-sizing: border-box;
        }

        #content{
            display: flex;
            align-items: flex-start;
            padding-top:30px;
            width: 900px;
            margin: 0 auto;
        }

        .left{
            margin-right:20px;
            min-width:600px;
        }
        .entri-title, .entri-title a{
            font-size:20px;
            line-height: 1.5;
        }

        .info{
            font-size: 0.9em;
            color: #b08f8f;
            font-weight: 500;
        }

        .info span{
            display: block;
            /* margin-bottom:3px; */
        }

        .entri{
            padding: 10px 0;
        }

        .tags{
            line-height: 2;
        }

        .box-sidebar{
            width: 170px;
        }

        .box{
            margin-bottom: 10px;;
        }

        navbar{
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            box-sizing: border-box;
            background: #003965;
            width: 100%;
            margin:0;
            color: white;
        }

        navbar a{
            color:white;
        }

        navbar .logo a{
            font-size:32px;
        }

        navbar li{
            display: inline-block;
            list-style: none;
            padding: 0 10px;
            box-sizing: border-box;
        }
        .button-delete-edit{
            padding-top: 20px;
        }

        .button-delete-edit .delete{
            background:red;
        }
        .button-delete-edit .edit{
            background:blue;
        }

        .add-post{
            display: flex;
            align-items:center;
            justify-content: center;
        }
    
        .input-item-add-post{
            display: block;
        }
    
        .input-item.input-item-add-post label{
            display: block;
        }    
    
        .box-add-post{
            width: 1200px;
        }
    
        .input-add-post{
            max-width: none!important;
            /* width: 100%!important; */
        }
    
        .input-add-post.textarea{
            height:1200px;
        }