{% extends "journal/layout.html" %}
{%block content-left %}
    <div class="box">
        <div class="header">
            <h1><span class="phui-header">Posts</span></h1>
        </div>
        <div class="dashboard-panel">
            {% for post in posts %}
                <div class="entri">
                    <div class="entri-title"><a href="#">{{post.title}}</a></div>
                    <div class="info">
                        <span class="tanggal">10 Juni 2020</span>
                        <span class="tags">Tags 1, Tags 2, Tags 3</span>
                    </div>
                </div>
            {% endfor %}
            <!-- <div class="entri">
                <div class="entri-title"><a href="#">Title 1</a></div>
                <div class="info">
                    <span class="tanggal">10 Juni 2020</span>
                    <span class="tags">Tags 1, Tags 2, Tags 3</span>
                </div>
            </div>
            <div class="entri">
                <div class="entri-title"><a href="#">Title 2</a></div>
                <div class="info">
                    <span class="tanggal">10 Juni 2020</span>
                    <span class="tags">Tags 1, Tags 2, Tags 3</span>
                </div>
            </div>
            <div class="entri">
                <div class="entri-title"><a href="#">Title 3</a></div>
                <div class="info">
                    <span class="tanggal">10 Juni 2020</span>
                    <span class="tags">Tags 1, Tags 2, Tags 3</span>
                </div>
            </div> -->
        </div>
    </div>
{%endblock content-left%}