{% extends "journal/layout.html" %}
{%block content-left %}
    <div class="box">
        <div class="header">
            <h1><span class="phui-header">{{post.title}}</span></h1>
            <div class="info">
                <span class="tanggal">{{post.date_posted}}</span>
                <span class="tags">Tags 1, Tags 2, Tags 3</span>
            </div>
            <div class="button-delete-edit">
                <button id="delete" class="delete">Delete</button>
                <button id="edit" class="edit">Edit</button>
            </div>
        </div>
        <div class="dashboard-panel">
            <p style="line-height:1.5">{{post.content}}</p>
            <!-- <div class="entri">
                <div class="entri-title"><a href="#">Title 1</a></div>
                <div class="info">
                    <span class="tanggal">10 Juni 2020</span>
                    <span class="tags">Tags 1, Tags 2, Tags 3</span>
                </div>
            </div>
            <div class="entri">
                <div class="entri-title"><a href="#">Title 2</a></div>
                <div class="info">
                    <span class="tanggal">10 Juni 2020</span>
                    <span class="tags">Tags 1, Tags 2, Tags 3</span>
                </div>
            </div>
            <div class="entri">
                <div class="entri-title"><a href="#">Title 3</a></div>
                <div class="info">
                    <span class="tanggal">10 Juni 2020</span>
                    <span class="tags">Tags 1, Tags 2, Tags 3</span>
                </div>
            </div> -->
        </div>
    </div>
    <script>
        document.getElementById("delete").onclick=()=>{
            location.href="/journal/delete_post?id={{post.id}}";
        };
        document.getElementById("edit").onclick=()=>{
            location.href="/journal/edit_post?id={{post.id}}";
        }
    </script>
{%endblock content-left%}